@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Raleway&family=Roboto&family=Open+Sans&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* --------------------------- General - consider what can be applied generally or what should be specific. Also consider id vs classes*/

i {
    color: #6E7F80;
}

body {
    font-family: "Raleway", sans-serif;
}

.fa:hover {
    transition: 0.5s;
    color: #FF834F;
}

/* --------------------------- Navigation */
#logo {
    height: 50px;
    width: 228.95px;
}

.navbar-brand {
    padding: 10px 0 20px 0;
}

.navbar-nav {
    padding-top: 20px;
}

.navbar li {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #6E7F80;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #F6F7F7;
}

/* Need to get working - code from https://stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-bootstrap-4
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: #6E7F80;
    box-shadow: #6E7F80;
} */
/* --------------------------- Navigation - shop dropdown */
.dropdown-menu {
    background-color: #F6F7F7;
    text-align: center;
    min-width: 10rem;
}

.dropdown-item {
    border-color: #6E7F80;
    color: #6E7F80;
}

/* --------------------------- Hero index - understand exactly how to position images prior to submission */
.hero-section {
    background: url("../images/dog-cat-two.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    height: 85vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    padding: 0;
    position: relative;
}

.hero-section div {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.25);
    height: inherit;
    width: inherit;
    position: relative;
}

.hero-section h1 {
    color: #F6F7F7;
    margin: 0;
    position: relative;
    width: inherit;
    text-align: center;
    /* from reading w3 schools - CSS layout - Horizontal and vertical align */
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-button {
    color: #F6F7F7;
    background-color: #FF7136;
    font-weight: bold;
    position: relative;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.hero-button:hover {
    color: #566465;
    font-weight: 700;
}


/* --------------------------- What we do index */
.what-we-do-section {
    width: 100vw;
    text-align: left;
    margin: auto;
    max-width: 1400px;
    color: #566465;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* need to find correct width */
@media all and (max-width: 1000px) {
    .what-we-do-section {
        text-align: center;
    }

    .what-we-do-section h1 {
        padding-top: 40px;
    }
}

/* --------------------------- Product index */
.product-section {
    width: 100vw;
    text-align: left;
    margin: auto;
    max-width: 1400px;
    color: #566465;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media all and (max-width: 1000px) {
    .product-section {
        text-align: center;
    }

    .product-section h1 {
        padding-top: 40px;
    }
}

.product-button-dog {
    color: #F6F7F7;
    background-color: #FF7136;
    text-align: center;
    position: relative;
    margin: 20px 0 20px 20px;
}

.product-button-dog:hover {
    color: #F6F7F7;
    font-weight: 700;
}

.product-button-cat {
    color: #F6F7F7;
    background-color: #FF7136;
    text-align: center;
    position: relative;
    margin: 20px;
}

.product-button-cat:hover {
    color: #566465;
    font-weight: 700;
}

/* --------------------------- Shop */
.product {
    margin-top: 96px;
    color: #6E7F80;
    text-align: center;
    background-color: white;
    border-color: white;
    width: inherit;
}

.product-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px 40px 20px 40px;
    padding: 15px;
    border-radius: 10px;
}

.product-item img {
    padding: 20px;
}

.price {
    font-size: 24px;
}

.product-item ul {
    text-align: left;
    padding: 0 20px 20px 60px;
}

.product-item button {
    border: #6E7F80;
    border-radius: 10px;
    padding: 15px;
    color: white;
    background-color: #6E7F80;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.product-item button:hover {
    opacity: 0.8;
}

.shop-title {
    padding: 40px 0 40px 0;
}

/* --------------------------- Footer */
footer {
    display: flex;
    font-family: "Montserrat", sans-serif;
    color: #6E7F80;
    background-color: #F6F7F7;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.copyright {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    padding: 60px 0 60px 20px;
    margin: 0;
}

.fa-copyright {
    pointer-events: none;
}

.social-media {
    padding: 20px 0px 20px 0px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 40px 20px 40px 20px;
    text-align: center;
}

.social-media li {
    display: inline;
    padding: 0 20px 0 20px;
}

.social-media i {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 28px;
}

@media all and (max-width: 768px) {
    footer {
        justify-content: space-around;
    }

    .copyright {
        padding-left: 0;
    }
}

/* --------------------------- The team about */
.team-image-section {
    background: url("../images/team.jpg") no-repeat center fixed;
    /* https://unsplash.com/@anoirchafik?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    padding: 0;
    position: relative;
}

.team-image-section div {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.25);
    height: inherit;
    width: inherit;
    position: relative;
}

.team-image-section div h1 {
    color: #F6F7F7;
    margin: 0;
    position: absolute;
    width: inherit;
    text-align: center;
    /* from reading w3 schools - CSS layout - Horizontal and vertical align */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-section p {
    padding-left: 40px;
    padding-right: 40px;
}

.team-section {
    width: 100vw;
    max-width: 1400px;
    text-align: center;
    color: #566465;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.team-padding {
    padding: 20px 20px 20px 20px;
}

/* --------------------------- Contact */
.form-section {
    height: 100vh;
    background: url("../images/contact-dog.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 25% 50%;
    display: flex;
    /* justify-content: center; */
    margin-top: 96px;
    padding: 0;
    position: relative;
    width: 100vw;
}

.contact-form {
    margin-top: 75px;
    color: #F6F7F7;
    background-color: rgba(0, 0, 0, 0.6);
    /* should this be left black? */
    border-radius: 5px;
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 30px;
}

.fa-envelope {
    pointer-events: none;
}

.contact-form i {
    color: #F6F7F7;
}

.contact-form h2 {
    color: #F6F7F7;
    margin-bottom: 20px;
}

.text-input {
    background: solid;
    background-color: #F6F7F7;
    width: 100%;
    height: 25px;
    margin: 5px 0px 20px 0px;
    border: 1px solid #F6F7F7;
    border-radius: 5px;
}

/* Need to change the colour of borders in text fields and radio button borders and fill from blue to another colour to fit with branding */
.text-input:hover {
    border-color: #FF834F;
}

.text-area {
    height: 100px;
    width: 100%;
    border: 1px solid rgba(250, 250, 250, 0.6);
    /* should this be left black? */
    border-radius: 5px;
    background-color: #F6F7F7;
    color: #6E7F80;
    /* Need to align text top left and wrap at right edge and limit input to specific number of characters - characters left should be dipalyed to user*/
}

.text-area:hover {
    border-color: #FF834F;
}

.contact-button {
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    padding: 20px 40px 20px 40px;
    text-align: center;
    background-color: #FF7136;
    color: #F6F7F7;
    display: block;
}

.contact-button:hover {
    background-color: #6E7F80;
    color: #F6F7F7;
    font-weight: 700;
}

/* Max width for contact form on small devices - check pixel size correct */
@media all and (max-width: 480px) {
    .contact-form {
        max-width: 300px;
        margin-top: 10px;
    }
}
